{% extends 'admin/change_list.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <!-- Adding FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block object-tools %}
    <ul class="object-tools">
        <li>
            <a href="{% url 'promote_students' %}" class="addlink">
                <i class="fas fa-graduation-cap"></i> Promote Students
            </a>
        </li>
        <li>
            <a href="{% url 'promotion_revert_list' %}" class="addlink" style="background-color: #dc3545; border-color: #dc3545;">
                <i class="fas fa-undo"></i> Revert Promotion
            </a>
        </li>
        {{ block.super }}
    </ul>
{% endblock %}